@import "tailwindcss";

/* Custom themes */
@theme {
  --color-light: var(--color-white);
  --color-light-accent: var(--color-green-700);
  --color-dark: var(--color-black);
  --color-dark-accent: var(--color-green-300);
}

/* Color */

/* Layouts */

@utility container-layout {
  @apply mx-auto container;
}

/* Spacing */

@utility page-px {
  @apply px-4 sm:px-6 lg:px-8
}

/* Text */

/* Others */

@utility profile-image-border-radius {
  border-radius: 43% 57% 42% 58% / 49% 39% 61% 51%;
}